<div class="jumbotron center">
	<h1>Follow the beers</h1>
	<p>Preserving the IOU trail with a small rails project</p>
	<p><%= link_to "Log in","#", class: "btn btn-default btn-lg" %>
	   <%= link_to "Get started","#", class: "btn btn-primary btn-lg" %>
	</p>
</div>
