<div class="jumbotron center">
	<h1>Follow the beers</h1>
	<p>Preserving the IOU trail with a small rails project</p>
	
	<% if user_signed_in? %>
		<p>
			Yo what's up?
		</p>
	<% else %>
		<p>
			<%= link_to "Sign in", new_user_session_path, class: "btn btn-default btn-lg" %>
			<%= link_to "Get started", new_user_registration_path, class: "btn btn-primary btn-lg" %>
		</p>
	<% end %>
</div>
