<div class="panel panel-default">
	<div class="panel-heading"><h1>Editing beer</h1></div>
	<div class="panel-body">

<%= render 'form' %>

	</div>

	<div class="panel-footer"><%= link_to 'Show', @beer %> |
		<%= link_to 'Back', beers_path %>
	</div>
</div>
