<div class="panel panel-default">
	<div class="panel-body">

		<p id="notice"><%= notice %></p>

		<p>
		  <strong>Description:</strong>
		  <%= @beer.description %>
		</p>
	</div>
	<div class="panel-footer">
		<%= link_to 'Edit', edit_beer_path(@beer) %> |
		<%= link_to 'Back', beers_path %>
	</div>
</div>

